@using Eatery.Models

@model  VModel
<h3 class="mb-5">Home Slider</h3>
<a class="btn btn-primary" asp-area="Admin" asp-controller="Slider" asp-action="dcreate">Create new Slider</a>
<table class="table">
    <thead>
        <tr>
            
            <th scope="col">Image</th>
            <th scope="col">Heading</th>
            <th scope="col">Content</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var slider in Model.Sliders)
        {
        <tr>
            <td><img style="width:200px" class="img-thumbnail" src="/img/@slider.SliderImage" />  </td>
            <td>@slider.Heading</td>

            <td>@slider.Content</td>
        </tr>
        }


    </tbody>


</table>

<h3 class="mb-3">Static Slider</h3>
<a class="mt-4 btn btn-primary" asp-area="Admin" asp-controller="Slider" asp-action="screate">Create new Static Slider</a>

<table class="table">
    <thead>
        <tr>

            <th scope="col">Image</th>
            <th scope="col">Heading</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var slider in Model.StaticSlider)
        {
        <tr>
            <td><img style="width:200px" class="img-thumbnail" src="/img/@slider.Image" /> </td>
            <td>@slider.Heading</td>


        </tr>
        }


    </tbody>




</table>


