
@{
    ViewData["Title"] = "Edit";
}
@using Eatery.Models
@model Slider

    <form method="post" enctype="multipart/form-data">
        
        <input asp-for="Id" value="@Model.Id" type="hidden" />
        <input asp-for="SliderImage" type="hidden" value="@Model.SliderImage" />


        <img style="width=200px" class="img-thumbnail" src="~/img/@Model.SliderImage" />
        <label class="form-control" asp-for="Image">Select Image</label>
        <input class="form-control" asp-for="Image" />
        <span asp-validation-for="Image"></span>

        <label class="form-control" asp-for="Heading"></label>
        <input class="form-control" value="@Model.Heading" asp-for="Heading" />
        <span asp-validation-for="Heading"></span>

        <label class="form-control" asp-for="Content"></label>
        <textarea class="form-control" value="@Model.Content" asp-for="Content"></textarea>
        <span asp-validation-for="Content"></span>

        <button type="submit" class="btn btn-warning">Edit</button>



    </form>
    



